<!DOCTYPE html>
<html>
<head>
	<title>homepage</title>
</head>
<body>

	{% if user.is_authenticated %}
	    <h3>Welcome, {{ user.get_username }}</h3>
	
	{% else %}
    	<p>Welcome, new user. Please log in <a href="/#"> Here </a> </p>
	{% endif %}



<p>
	{% for i in user_info %}
		{% if i.user_type == 'chef' %}
			<p> You are a one great {{ i.user_type }} </p>
			<button onclick="window.location.href='/submit_recipe'" > Submit recipe </button>
		{% elif user.user_type == "customer" %}
			<p> You are our valuable {{ i.user_type }} </p>

			<button onclick="window.location.href='/#'" > Order Food </button>
		{% endif %}		
	{% endfor %}
</p>



	
	
	<button value="logout" onclick="window.location.href = '/logout' "">Logout</button>
	
	
</body>
</html>