<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block head_title %}
      Restaurant
    {% endblock head_title%}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <style type=text/css>
      .limtiCharClass {

        overflow:hidden;
        white-space:nowrap;
        width: 242px; }
    </style>
  </head>
  <body>

      <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Restuarant</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/recipes/american">American</a>
                <a class="dropdown-item" href="/recipes/egyptian">Egyptian</a>
                <a class="dropdown-item" href="/recipes/italian">Italian</a>
                <a class="dropdown-item" href="/recipes/indian">Indian</a>
              </div>
            </li>
          </ul>
          {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item"><a class="nav-link" href="/#"><span class="glyphicon glyphicon-user"></span> Update Profile</a></li>

              <li class="nav-item"><a class="nav-link" href="#"><span class="glyphicon glyphicon-user"></span> Order History</a></li>
            <li class='nav-item'><a class="nav-link"href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
          </ul>
          {% else %}
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item"><a class="nav-link" href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li class='nav-item'><a class="nav-link"href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          {% endif %}

          </div>
        </nav>

      <div class="container">
      <div class="jumbotron">
        <div class="container">
        {% if user.is_authenticated %}
          <h1 class="display-3">Welcome, {{ request.user }} </h1>
          <p> We hope you enjoy our service. Please review our food if you enjoy it. Else, let us know how can we imporove  </p>
            {% if user.type == "custumer" %}
             <p> You are our important customer</p>
             {% elif user.type == "chef" %}
             <p> you are a good chef</p>
            {% endif %}

        {% else %}
          <h1 class="display-3">Welcome, visitor!</h1>
          <p>Sign up to order food.</p>
        {% endif %}
          <br><p>
          <div class="form-group row">
            <div class="col-12">
          </div>
          </div></p>
        </div>
      </div>
      </div>
    <div class="container">
      <div class="row">
      <!-- FOLLOWING IS FOR THE CHEF --> 
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
              <H3>Submit Item</H3>
              <form method="POST">
                {{ recipe_form.as_p }}
                <button type="Submit">Submit</button>
              </form>

              </div>
              </div>
                <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
          <h3>old items</h3>
      <!--FOLLOWING IS FOR THE CUSTOMER HOMEPAGE 
        {% for recipe in recipes %}
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img width="242" height="200" src="{% static "img/sample.jpg" %}" alt="img">
            <div class="caption">
              <h3>{{recipe.name}}</h3>
              <p class="limtiCharClass">{{recipe.description}}</p>
              <p><a href="{{recipe.get_absolute_url}}" class="btn btn-primary" role="button">View</a>
              {% if user.is_authenticated %}
                <a href="#" class="btn btn-success" role="button">Order</a></p>
              {% endif %}
            </div>
          </div>
        </div>
            {% endfor %}
            -->

      </div>
    </div>
      </div>


    <script src="{% static "js/jquery-3.2.0.slim.min.js" %}" type='text/javascript'></script>
    <script src="{% static "js/tether.min.js" %}" type='text/javascript'></script>
    <script src="{% static "js/bootstrap.min.js" %}" type='text/javascript'></script>

  </body>
</html>
