{% extends "recipes/base.html" %}

{% block head_title %}
  {{block.super}} || Index
{% endblock head_title %}
{% load static %}


{% block recipes %}

    <div class="container">
      <div class="row">
        {% for recipe in recipes %}
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img width="242" height="200" src="{% static "img/sample.jpg" %}" alt="img">
            <div class="caption">
              <h3>{{recipe.name}}</h3>
              <p class="limtiCharClass">{{recipe.description}}</p>
              <p><a href="{{recipe.get_absolute_url}}" class="btn btn-primary" role="button">View</a>
                <a href="#" class="btn btn-success" role="button">Order</a></p>
            </div>
          </div>
        </div>
            {% endfor %}
      </div>
    </div>



{% endblock recipes %}